# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Protect workspace template and other files on main branch during merges
dev/workspace/** merge=protect
.claude/config/** merge=ours
README.md merge=ours
